<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>laptophub.filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>laptophub.filter.HomeFilter</filter-class>
    </filter>
    
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>laptophub.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/checkout</url-pattern>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/payment</url-pattern>
        <url-pattern>/profile</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/manageproduct</url-pattern>
        <url-pattern>/updateproduct</url-pattern>
        <url-pattern>/manageacc</url-pattern>
        <url-pattern>/supplier</url-pattern>
        <url-pattern>/manageord</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ProductManagement</servlet-name>
        <servlet-class>laptophub.controller.admin.management.product.ProductManagement</servlet-class>
        <multipart-config>
            <max-file-size>1048576</max-file-size>
            <!-- 1MB -->
            <max-request-size>2097152</max-request-size>
            <!-- 2MB -->
            <file-size-threshold>512000</file-size-threshold>
            <!-- 500KB -->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>laptophub.controller.admin.management.product.UpdateProduct</servlet-class>
        <multipart-config>
            <max-file-size>1048576</max-file-size>
            <!-- 1MB -->
            <max-request-size>2097152</max-request-size>
            <!-- 2MB -->
            <file-size-threshold>512000</file-size-threshold>
            <!-- 500KB -->
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductManagement</servlet-name>
        <url-pattern>/manageproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
